In [1]:
import sqlite3
import pandas as pd

### 01) Write a sql query to get books that has rate >=3 and has 'Mr' in its name.

In [2]:
connection = sqlite3.connect('books.db')
df = pd.read_sql('''SELECT * 
                    FROM books 
                    WHERE Rate >= 3 AND Title LIKE '%Mr%' ''', connection)
df

    Id               Title  Price  Rate
0  180        Mrs. Houdini  30.25     5
1  282       My Mrs. Brown  24.48     3
2  317  Dear Mr. Knightley  11.21     5

### 02) Write a sql query to get books that has rate >=3 or price > 20.

In [3]:
df = pd.read_sql('''SELECT * 
                    FROM books 
                    WHERE Rate >= 3 OR Price > 20''', connection)

df

       Id                                              Title  Price  Rate
0       1                               A Light in the Attic  51.77     3
1       2                                 Tipping the Velvet  53.74     1
2       3                                         Soumission  50.10     1
3       4                                      Sharp Objects  47.82     4
4       5              Sapiens: A Brief History of Humankind  54.23     5
..    ...                                                ...    ...   ...
915   996  Alice in Wonderland (Alice's Adventures in Won...  55.53     1
916   997   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06     4
917   998  A Spy's Devotion (The Regency Spies of London #1)  16.97     5
918   999                1st to Die (Women's Murder Club #1)  53.98     1
919  1000                 1,000 Places to See Before You Die  26.08     5

[920 rows x 4 columns]

### 03) Write a sql query to get books that has rate not 3.

In [4]:
df = pd.read_sql('''SELECT * 
                    FROM books 
                    WHERE Rate <> 3''', connection)

df

       Id                                              Title  Price  Rate
0       2                                 Tipping the Velvet  53.74     1
1       3                                         Soumission  50.10     1
2       4                                      Sharp Objects  47.82     4
3       5              Sapiens: A Brief History of Humankind  54.23     5
4       6                                    The Requiem Red  22.65     1
..    ...                                                ...    ...   ...
792   996  Alice in Wonderland (Alice's Adventures in Won...  55.53     1
793   997   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06     4
794   998  A Spy's Devotion (The Regency Spies of London #1)  16.97     5
795   999                1st to Die (Women's Murder Club #1)  53.98     1
796  1000                 1,000 Places to See Before You Die  26.08     5

[797 rows x 4 columns]

### 04) Write a sql query to get books that has price between 10 and 40 and has rate 3 or 4 or 1.

In [5]:
df = pd.read_sql('''SELECT * 
                    FROM books 
                    WHERE (Price BETWEEN 10 AND 40) AND (Rate IN(1,3,4))''', connection)
df

      Id                                              Title  Price  Rate
0      6                                    The Requiem Red  22.65     1
1      7  The Dirty Little Secrets of Getting Your Dream...  33.34     4
2      8  The Coming Woman: A Novel Based on the Life of...  17.93     3
3      9  The Boys in the Boat: Nine Americans and Their...  22.60     4
4     12                              Shakespeare's Sonnets  20.66     4
..   ...                                                ...    ...   ...
350  987  Choosing Our Religion: The Spiritual Lives of ...  28.42     4
351  988  Charlie and the Chocolate Factory (Charlie Buc...  22.85     3
352  991           Bridget Jones's Diary (Bridget Jones #1)  29.82     1
353  992                      Bounty (Colorado Mountain #7)  37.26     4
354  993               Blood Defense (Samantha Brinkman #1)  20.30     3

[355 rows x 4 columns]

### 05) Write a sql query to get the top 5 most expensive books (order books desc with price column and then limit the result to the first 5).

In [6]:
df = pd.read_sql('''SELECT * 
                    FROM books
                    ORDER BY Price DESC
                    LIMIT 5 ''', connection)

df

    Id                               Title  Price  Rate
0  649  The Perfect Play (Play by Play #1)  59.99     3
1  618   Last One Home (New Beginnings #1)  59.98     3
2  861    Civilization and Its Discontents  59.95     2
3  561      The Barefoot Contessa Cookbook  59.92     5
4  367           The Diary of a Young Girl  59.90     3

### 06) Write a sql query to get the 3rd 10 books in the books table order first by rate desc and then by price asc.

In [7]:
df = pd.read_sql('''SELECT * 
                    FROM books
                    ORDER BY Rate DESC, Price ASC
                    LIMIT 3 ''', connection)

df

    Id                                              Title  Price  Rate
0  639                         An Abundance of Katherines  10.00     5
1  303                               Greek Mythic History  10.23     5
2  591  The Power Greens Cookbook: 140 Delicious Super...  11.05     5

### 07) Write a sql query to add a new category in categories table and add 5 books to this category in books table with title, rate and price.

In [8]:
c = input('Enter the category of books: ')
for i in range(1,6):
    book_num = 1000+i
    t = input('Enter title of the book: ')
    p = float(input('Enter the price of the book: '))
    r = int(input('Enter the rate of the book: '))
    cursor = connection.execute('INSERT INTO books (Id,Title, Price, Rate) VALUES (?, ?, ?, ?) ',[book_num,t, p, r])
    cursor = connection.execute('INSERT INTO categories (Id, Category) VALUES (?, ?) ',[book_num, c])
connection.commit()

Enter the category of books: Fun
Enter title of the book: Pyramids
Enter the price of the book: 35.5
Enter the rate of the book: 4
Enter title of the book: Welcome
Enter the price of the book: 42
Enter the rate of the book: 5
Enter title of the book: The Hell
Enter the price of the book: 65
Enter the rate of the book: 2
Enter title of the book: Our Home
Enter the price of the book: 15.5
Enter the rate of the book: 4
Enter title of the book: Hi
Enter the price of the book: 54.5
Enter the rate of the book: 5

names : Pyramids, Welcome, The Hell, Our Home, Hi

## Read the data

In [9]:
df = pd.read_sql('''SELECT * 
                    FROM books
                     ''', connection)
df

        Id                                  Title  Price  Rate
0        1                   A Light in the Attic  51.77     3
1        2                     Tipping the Velvet  53.74     1
2        3                             Soumission  50.10     1
3        4                          Sharp Objects  47.82     4
4        5  Sapiens: A Brief History of Humankind  54.23     5
...    ...                                    ...    ...   ...
1000  1001                               Pyramids  35.50     4
1001  1002                                Welcome  42.00     5
1002  1003                               The Hell  65.00     2
1003  1004                               Our Home  15.50     4
1004  1005                                     Hi  54.50     5

[1005 rows x 4 columns]

In [10]:
df = pd.read_sql('''SELECT * 
                    FROM categories
                     ''', connection)
df

        Id            Category
0        1              Poetry
1        2  Historical Fiction
2        3             Fiction
3        4             Mystery
4        5             History
...    ...                 ...
1000  1001                 Fun
1001  1002                 Fun
1002  1003                 Fun
1003  1004                 Fun
1004  1005                 Fun

[1005 rows x 2 columns]

### 08) Write a sql query to update book's rate to 3 that thier price < 20£.

In [11]:
cursor = connection.execute('''UPDATE books SET Rate=? WHERE Price < ? ''', [3, 20])
connection.commit()
df = pd.read_sql('''SELECT * 
                    FROM books
                     ''', connection)
df

        Id                                  Title  Price  Rate
0        1                   A Light in the Attic  51.77     3
1        2                     Tipping the Velvet  53.74     1
2        3                             Soumission  50.10     1
3        4                          Sharp Objects  47.82     4
4        5  Sapiens: A Brief History of Humankind  54.23     5
...    ...                                    ...    ...   ...
1000  1001                               Pyramids  35.50     4
1001  1002                                Welcome  42.00     5
1002  1003                               The Hell  65.00     2
1003  1004                               Our Home  15.50     3
1004  1005                                     Hi  54.50     5

[1005 rows x 4 columns]

### 09) Write a sql query to delete all books that have price > 50£ and has rate <= 2.

In [12]:
cursor = connection.cursor()
cursor.execute('''PRAGMA foreign_keys = ON''')
cursor.execute('''DELETE FROM books
                WHERE Price > ? AND Rate <= ? ''', [50,2])
connection.commit()

In [13]:
df = pd.read_sql('''SELECT * 
                    FROM books
                     ''', connection)
df

       Id                                              Title  Price  Rate
0       1                               A Light in the Attic  51.77     3
1       4                                      Sharp Objects  47.82     4
2       5              Sapiens: A Brief History of Humankind  54.23     5
3       6                                    The Requiem Red  22.65     1
4       7  The Dirty Little Secrets of Getting Your Dream...  33.34     4
..    ...                                                ...    ...   ...
925  1000                 1,000 Places to See Before You Die  26.08     5
926  1001                                           Pyramids  35.50     4
927  1002                                            Welcome  42.00     5
928  1004                                           Our Home  15.50     3
929  1005                                                 Hi  54.50     5

[930 rows x 4 columns]

In [14]:
df2 = pd.read_sql('''SELECT *
                    FROM categories''', connection)
df2

       Id     Category
0       1       Poetry
1       4      Mystery
2       5      History
3       6  Young Adult
4       7     Business
..    ...          ...
925  1000       Travel
926  1001          Fun
927  1002          Fun
928  1004          Fun
929  1005          Fun

[930 rows x 2 columns]

### 10) Write a sql query to count the number of books that have 'Secret' in thier names and price between 10£ and 25£.

In [15]:
rows = connection.execute('''SELECT COUNT(*)
                             FROM books
                             WHERE (Title LIKE '%secrets%') AND (Price BETWEEN 10 AND 25) ''').fetchall()

len(rows)

1

### 11) Write a sql query to get the minimum & maximum price for all the books that have rate 5.

In [16]:
rows = connection.execute('''SELECT MAX(Price),MIN(Price)
                            FROM books
                            WHERE Rate = 5 ''').fetchall()

print("Max = ",rows[0][0])
print("Min = ",rows[0][1])

Max =  59.92
Min =  20.02

### 12) Write a sql query to calculate the avg price for all the books that have rate 5.

In [17]:
rows = connection.execute('''SELECT AVG(Price)
                            FROM books
                            WHERE Rate = 5 ''').fetchall()

round(rows[0][0],2)

41.14

### 13) Write a sql query to sum all book's price that have rate 2 and price between 10 and 40

In [18]:
rows = connection.execute('''SELECT SUM(Price)
                            FROM books
                            WHERE (Rate = 2) AND (Price BETWEEN 10 AND 40) ''').fetchall()
round(rows[0][0],2)

2772.75

### 14) Write a sql query to join both books & categories table into one new table containing book_name & category_name & book_rate and book_price.

In [19]:
cursor = connection.execute('''CREATE TABLE all_details AS
                                SELECT Title AS book_name, Price AS book_price, Rate AS book_rate, Category AS category_name
                                FROM books NATURAL JOIN categories;''')
connection.commit()

In [20]:
df = pd.read_sql('''SELECT *
                    FROM all_details''',connection)
df

,book_name,book_price,book_rate,category_name
0,A Light in the Attic,51.77,3,Poetry
1,Sharp Objects,47.82,4,Mystery
2,Sapiens: A Brief History of Humankind,54.23,5,History
3,The Requiem Red,22.65,1,Young Adult
4,The Dirty Little Secrets of Getting Your Dream...,33.34,4,Business
5,The Coming Woman: A Novel Based on the Life of...,17.93,3,Default
6,The Boys in the Boat: Nine Americans and Their...,22.60,4,Default
7,"Starving Hearts (Triangular Trade Trilogy, #1)",13.99,3,Default
8,Shakespeare's Sonnets,20.66,4,Poetry
9,Set Me Free,17.46,3,Young Adult
10,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,5,Sequential Art
11,Rip it Up and Start Again,35.02,5,Music
12,Our Band Could Be Your Life: Scenes from the A...,57.25,3,Music
13,Olio,23.88,1,Poetry
14,Mesaerion: The Best Science Fiction Stories 18...,37.59,1,Science Fiction
15,It's Only the Himalayas,45.17,2,Travel
16,In Her Wake,12.84,3,Thriller
17,How Music Works,37.32,2,Music
18,Foolproof Preserving: A Guide to Small Batch J...,30.52,3,Food and Drink
19,Chase Me (Paris Nights #2),25.27,5,Romance
20,Black Dust,34.53,5,Romance
21,Birdsong: A Story in Pictures,54.64,3,Childrens
22,America's Cradle of Quarterbacks: Western Penn...,22.50,3,Default
23,Aladdin and His Wonderful Lamp,53.13,3,Default
24,Worlds Elsewhere: Journeys Around Shakespeareâ...,40.30,5,Nonfiction
25,Wall and Piece,44.18,4,Art
26,The Four Agreements: A Practical Guide to Pers...,17.66,3,Spirituality
27,The Five Love Languages: How to Express Heartf...,31.05,3,Nonfiction
28,The Elephant Tree,23.82,5,Thriller
29,The Bear and the Piano,36.89,1,Childrens
...,...,...,...,...
900,Kitchens of the Great Midwest,57.20,5,Fiction
901,Jane Eyre,38.43,5,Default
902,Imperfect Harmony,34.74,4,Romance
903,Icing (Aces Hockey #2),40.44,4,Sports and Games
904,"Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)",45.24,3,Sequential Art
905,Having the Barbarian's Baby (Ice Planet Barbar...,34.96,4,Science Fiction
906,"Giant Days, Vol. 1 (Giant Days #1-4)",56.76,4,Sequential Art
907,"Fruits Basket, Vol. 1 (Fruits Basket #1)",40.28,5,Sequential Art
908,Frankenstein,38.00,2,Default
909,Forever Rockers (The Rocker #12),28.80,3,Music
910,Fighting Fate (Fighting #6),39.24,3,Romance
911,Emma,32.93,2,Classics
912,"Eat, Pray, Love",51.32,3,Nonfiction
913,Deep Under (Walker Security #1),47.09,5,Romance
914,Choosing Our Religion: The Spiritual Lives of ...,28.42,4,Religion
915,Charlie and the Chocolate Factory (Charlie Buc...,22.85,3,Childrens
916,Charity's Cross (Charles Towne Belles #4),41.24,1,Romance
917,Bright Lines,39.07,5,Fiction
918,Bridget Jones's Diary (Bridget Jones #1),29.82,1,Womens Fiction
919,Bounty (Colorado Mountain #7),37.26,4,Romance
920,Blood Defense (Samantha Brinkman #1),20.30,3,Mystery
921,"Bleach, Vol. 1: Strawberry and the Soul Reaper...",34.65,5,Sequential Art
922,Beyond Good and Evil,43.38,1,Philosophy
923,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,4,Sequential Art
924,A Spy's Devotion (The Regency Spies of London #1),16.97,3,Historical Fiction
925,"1,000 Places to See Before You Die",26.08,5,Travel
926,Pyramids,35.50,4,Fun
927,Welcome,42.00,5,Fun
928,Our Home,15.50,3,Fun
929,Hi,54.50,5,Fun

### 15) Write a sql query to calculate how many books  have price between 20£ and 30£.

In [21]:
rows = connection.execute('''SELECT COUNT(*)
                            FROM books
                            WHERE Price BETWEEN 20 AND 30 ''').fetchall()
rows[0][0]

207

### 16) Write a sql query to calculate how many books each category has having count > 10.

In [23]:
df = pd.read_sql('''SELECT Category_name,COUNT(*) AS Count
                            FROM all_details
                            GROUP BY category_name
                            HAVING COUNT() > 10''', connection)
df

         category_name  Count
0        Add a comment     60
1             Business     11
2            Childrens     28
3             Classics     17
4              Default    144
5              Fantasy     40
6              Fiction     60
7       Food and Drink     28
8   Historical Fiction     24
9              History     16
10              Horror     15
11               Music     11
12             Mystery     30
13          Nonfiction    104
14              Poetry     18
15             Romance     33
16             Science     13
17     Science Fiction     14
18      Sequential Art     70
19            Thriller     11
20              Travel     11
21      Womens Fiction     16
22         Young Adult     50

### 17) Write a sql query to get all books with category_name='Music' using subquery.

In [24]:
df = pd.read_sql('''SELECT *
                    FROM all_details
                    WHERE category_name = (SELECT Category FROM categories WHERE Category = "Music" )''',connection)
df

,book_name,book_price,book_rate,category_name
0,Rip it Up and Start Again,35.02,5,Music
1,Our Band Could Be Your Life: Scenes from the A...,57.25,3,Music
2,How Music Works,37.32,2,Music
3,Love Is a Mix Tape (Music #1),18.03,3,Music
4,Please Kill Me: The Uncensored Oral History of...,31.19,4,Music
5,Kill 'Em and Leave: Searching for James Brown ...,45.05,5,Music
6,This Is Your Brain on Music: The Science of a ...,38.40,1,Music
7,Orchestra of Exiles: The Story of Bronislaw Hu...,12.36,3,Music
8,No One Here Gets Out Alive,20.02,5,Music
9,Life,31.58,5,Music
10,Forever Rockers (The Rocker #12),28.80,3,Music

In [25]:
df = pd.read_sql('''SELECT * FROM all_details''',connection)
df

,book_name,book_price,book_rate,category_name
0,A Light in the Attic,51.77,3,Poetry
1,Sharp Objects,47.82,4,Mystery
2,Sapiens: A Brief History of Humankind,54.23,5,History
3,The Requiem Red,22.65,1,Young Adult
4,The Dirty Little Secrets of Getting Your Dream...,33.34,4,Business
5,The Coming Woman: A Novel Based on the Life of...,17.93,3,Default
6,The Boys in the Boat: Nine Americans and Their...,22.60,4,Default
7,"Starving Hearts (Triangular Trade Trilogy, #1)",13.99,3,Default
8,Shakespeare's Sonnets,20.66,4,Poetry
9,Set Me Free,17.46,3,Young Adult
10,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,5,Sequential Art
11,Rip it Up and Start Again,35.02,5,Music
12,Our Band Could Be Your Life: Scenes from the A...,57.25,3,Music
13,Olio,23.88,1,Poetry
14,Mesaerion: The Best Science Fiction Stories 18...,37.59,1,Science Fiction
15,It's Only the Himalayas,45.17,2,Travel
16,In Her Wake,12.84,3,Thriller
17,How Music Works,37.32,2,Music
18,Foolproof Preserving: A Guide to Small Batch J...,30.52,3,Food and Drink
19,Chase Me (Paris Nights #2),25.27,5,Romance
20,Black Dust,34.53,5,Romance
21,Birdsong: A Story in Pictures,54.64,3,Childrens
22,America's Cradle of Quarterbacks: Western Penn...,22.50,3,Default
23,Aladdin and His Wonderful Lamp,53.13,3,Default
24,Worlds Elsewhere: Journeys Around Shakespeareâ...,40.30,5,Nonfiction
25,Wall and Piece,44.18,4,Art
26,The Four Agreements: A Practical Guide to Pers...,17.66,3,Spirituality
27,The Five Love Languages: How to Express Heartf...,31.05,3,Nonfiction
28,The Elephant Tree,23.82,5,Thriller
29,The Bear and the Piano,36.89,1,Childrens
...,...,...,...,...
900,Kitchens of the Great Midwest,57.20,5,Fiction
901,Jane Eyre,38.43,5,Default
902,Imperfect Harmony,34.74,4,Romance
903,Icing (Aces Hockey #2),40.44,4,Sports and Games
904,"Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)",45.24,3,Sequential Art
905,Having the Barbarian's Baby (Ice Planet Barbar...,34.96,4,Science Fiction
906,"Giant Days, Vol. 1 (Giant Days #1-4)",56.76,4,Sequential Art
907,"Fruits Basket, Vol. 1 (Fruits Basket #1)",40.28,5,Sequential Art
908,Frankenstein,38.00,2,Default
909,Forever Rockers (The Rocker #12),28.80,3,Music
910,Fighting Fate (Fighting #6),39.24,3,Romance
911,Emma,32.93,2,Classics
912,"Eat, Pray, Love",51.32,3,Nonfiction
913,Deep Under (Walker Security #1),47.09,5,Romance
914,Choosing Our Religion: The Spiritual Lives of ...,28.42,4,Religion
915,Charlie and the Chocolate Factory (Charlie Buc...,22.85,3,Childrens
916,Charity's Cross (Charles Towne Belles #4),41.24,1,Romance
917,Bright Lines,39.07,5,Fiction
918,Bridget Jones's Diary (Bridget Jones #1),29.82,1,Womens Fiction
919,Bounty (Colorado Mountain #7),37.26,4,Romance
920,Blood Defense (Samantha Brinkman #1),20.30,3,Mystery
921,"Bleach, Vol. 1: Strawberry and the Soul Reaper...",34.65,5,Sequential Art
922,Beyond Good and Evil,43.38,1,Philosophy
923,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,4,Sequential Art
924,A Spy's Devotion (The Regency Spies of London #1),16.97,3,Historical Fiction
925,"1,000 Places to See Before You Die",26.08,5,Travel
926,Pyramids,35.50,4,Fun
927,Welcome,42.00,5,Fun
928,Our Home,15.50,3,Fun
929,Hi,54.50,5,Fun

In [26]:
connection.close()

In [27]:
df.to_csv("books.csv",index=False)

In [28]:
df = pd.read_csv('books.csv')
df

,book_name,book_price,book_rate,category_name
0,A Light in the Attic,51.77,3,Poetry
1,Sharp Objects,47.82,4,Mystery
2,Sapiens: A Brief History of Humankind,54.23,5,History
3,The Requiem Red,22.65,1,Young Adult
4,The Dirty Little Secrets of Getting Your Dream...,33.34,4,Business
5,The Coming Woman: A Novel Based on the Life of...,17.93,3,Default
6,The Boys in the Boat: Nine Americans and Their...,22.60,4,Default
7,"Starving Hearts (Triangular Trade Trilogy, #1)",13.99,3,Default
8,Shakespeare's Sonnets,20.66,4,Poetry
9,Set Me Free,17.46,3,Young Adult
10,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,5,Sequential Art
11,Rip it Up and Start Again,35.02,5,Music
12,Our Band Could Be Your Life: Scenes from the A...,57.25,3,Music
13,Olio,23.88,1,Poetry
14,Mesaerion: The Best Science Fiction Stories 18...,37.59,1,Science Fiction
15,It's Only the Himalayas,45.17,2,Travel
16,In Her Wake,12.84,3,Thriller
17,How Music Works,37.32,2,Music
18,Foolproof Preserving: A Guide to Small Batch J...,30.52,3,Food and Drink
19,Chase Me (Paris Nights #2),25.27,5,Romance
20,Black Dust,34.53,5,Romance
21,Birdsong: A Story in Pictures,54.64,3,Childrens
22,America's Cradle of Quarterbacks: Western Penn...,22.50,3,Default
23,Aladdin and His Wonderful Lamp,53.13,3,Default
24,Worlds Elsewhere: Journeys Around Shakespeareâ...,40.30,5,Nonfiction
25,Wall and Piece,44.18,4,Art
26,The Four Agreements: A Practical Guide to Pers...,17.66,3,Spirituality
27,The Five Love Languages: How to Express Heartf...,31.05,3,Nonfiction
28,The Elephant Tree,23.82,5,Thriller
29,The Bear and the Piano,36.89,1,Childrens
...,...,...,...,...
900,Kitchens of the Great Midwest,57.20,5,Fiction
901,Jane Eyre,38.43,5,Default
902,Imperfect Harmony,34.74,4,Romance
903,Icing (Aces Hockey #2),40.44,4,Sports and Games
904,"Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)",45.24,3,Sequential Art
905,Having the Barbarian's Baby (Ice Planet Barbar...,34.96,4,Science Fiction
906,"Giant Days, Vol. 1 (Giant Days #1-4)",56.76,4,Sequential Art
907,"Fruits Basket, Vol. 1 (Fruits Basket #1)",40.28,5,Sequential Art
908,Frankenstein,38.00,2,Default
909,Forever Rockers (The Rocker #12),28.80,3,Music
910,Fighting Fate (Fighting #6),39.24,3,Romance
911,Emma,32.93,2,Classics
912,"Eat, Pray, Love",51.32,3,Nonfiction
913,Deep Under (Walker Security #1),47.09,5,Romance
914,Choosing Our Religion: The Spiritual Lives of ...,28.42,4,Religion
915,Charlie and the Chocolate Factory (Charlie Buc...,22.85,3,Childrens
916,Charity's Cross (Charles Towne Belles #4),41.24,1,Romance
917,Bright Lines,39.07,5,Fiction
918,Bridget Jones's Diary (Bridget Jones #1),29.82,1,Womens Fiction
919,Bounty (Colorado Mountain #7),37.26,4,Romance
920,Blood Defense (Samantha Brinkman #1),20.30,3,Mystery
921,"Bleach, Vol. 1: Strawberry and the Soul Reaper...",34.65,5,Sequential Art
922,Beyond Good and Evil,43.38,1,Philosophy
923,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,4,Sequential Art
924,A Spy's Devotion (The Regency Spies of London #1),16.97,3,Historical Fiction
925,"1,000 Places to See Before You Die",26.08,5,Travel
926,Pyramids,35.50,4,Fun
927,Welcome,42.00,5,Fun
928,Our Home,15.50,3,Fun
929,Hi,54.50,5,Fun